<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Not Found</h1>
    <h2><%=err.status %></h2>
    <pre><%=err.stack %></pre>
  </body>
  </html>