<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header>
		<h1><%= title %></h1>

		<div class="nav">
			<ul>
				<li><</li>
				<li><a href="./">Comments</a></li>
				<li>/</li>
				<li><a href="/event">Event</a></li>
				<li>/</li>
				<li><a href="/users">Contributor</a></li>
				<li>></li>
			</ul>
		</div>
	</header>

	<main>
		<!-- Comment List -->
		<div id="comments">
			<ul>
				<form method="post" action="/addComment">
					<li>
						<input id="input" name="insertform" type="text" placeholder="한마디를 적어보세요." autocomplete="off">
					</li>
					<!-- <input type="submit" value="쓰기" id="submit"> -->
				</form>
				<% for (var user of userData) { %>
					<li>
						<%= user.CONTENT %>
					</li>
				<% } %>
			</ul>
		</div>
	</main>

	<footer>
		<div>
			<h1>HY-CoRA</h1>
			<p>경기도 안산시 상록구 한양대학로55 학생복지관4층 425호</p>
		</div>
	</footer>

	<!-- required for hot reload -->
	<script src="/reload/reload.js"></script>
	<script>
		const input = document.getElementById("input")
		input.focus()
	</script>
</body>

</html>