<!DOCTYPE html>
<html>
​
<head>	
	<meta charset="utf-8">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<title>Hycora</title>
	<script>
		function addElement () {
			const newChild = document.createElement('li');
			const textNode = document.createTextNode(document.getElementById('input').value);
			newChild.appendChild(textNode);
			const parent = document.getElementById('comments');
			const children = parent.childNodes;

			if(children.length=0){
				parent.appendChild(newChild)
			}
			else{
				const fistChild = children[0]
				parent.insertBefore(newChild, fistChild);
			}
			document.getElementById('input').value = ''
		}		

	</script>
</head>
​
<body>​
	<h1>Hycora</h1>
	<ul id="nav">
	  <li><a href="./">Comments</a></li>
	  <li><a href="/users">Information</a></li>	  
	</ul>

	<input type="text" id="input">
	<button onclick="addElement()">쓰기</button>
	<div id="comments">
		<!-- children -->
	</div>	​
	<!-- required for hot reload -->
	<script src="/reload/reload.js"></script>	
</body>
​
</html>