@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

body {
	margin: auto;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #efefef;
}

header {
	background-color: #393b44;
	color: white;
	padding-bottom: 10px;
	border-bottom: 5px solid #132743;
}

header h1 {
	text-align: center;
	font-size: 45pt;
	margin: 0;
	padding: 50px 0px 25px 0px;
}

header a, header a:visited {
	color: white;
}

.nav {
	text-align: center;
	padding: 10px 0;
	margin-bottom: 30px;
	margin: auto;
}

.nav a {	
	text-decoration: none;	
	/*color:black;*/
}

.nav li {
	display:inline;
	font-size:15px;
	margin: 0 3px;
}

@media ( min-width: 768px ) {
  main, footer > div {
		max-width: 700px;
		margin: 0 auto;
	}
}

@media ( min-width: 1024px ) {
  main, footer > div {
		max-width: 1200px;
		margin: 0 auto;
	}
}

main {
	padding-bottom: 80px;
}

footer {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background-color: #393b44;
	color: white;
	padding: 64px 0 40px 0;
}

ul {
	padding-inline-start: 0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

#comments li {
	list-style: none;
    margin: 20px 0;
    padding: 50px;
    margin-bottom: 5px;
    font-size: 30px;

   	border: 1px solid #dddddd;
   	border-radius: 7px;
   	box-shadow: 0 4px 15px 0 rgba(0,0,0,.15);
   	background-color: white;

   	font-family: 'Nanum Myeongjo', serif;
}

#comments span {
	font-size: 14px;
	color: #AAAAAA;
}

#comments li:last-child {
	border-bottom:0px;
}

#comments li:before {
    content: "$";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    font-size:30px;
}

#input {
	border: none;
	padding-bottom: 5px;
	border-bottom: 1px solid #eaeaea;
	min-width: 85%;
}
#input:focus {
    outline: none;
}

#submit {
	display: inline-block;
	height: 21px;
}

table {
	width: 100%;
	border: 1px solid #444444;
	text-align: center;
}
